<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developer_reddit_names</key>
	<array>
		<string>&lt;reddit-username&gt;</string>
	</array>
	<key>secure_storage_prefix</key>
	<string>&lt;a-prefix-that-identifies-your-application&gt;</string>
	<key>client_id</key>
	<string>&lt;reddit-client-id&gt;</string>
	<key>authorization_duration</key>
	<string>(permanent, temporary)</string>
	<key>scopes</key>
	<array>
		<string>&lt;scope-string&gt;</string>
	</array>
	<key>redirect_uri</key>
	<string>&lt;redirect-uri&gt;</string>
	<key>application_type</key>
	<string>(installed, script, webapp)</string>
</dict>
</plist>
